.menuNav{
    color:black;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: antiquewhite;
    padding: 10px;
}

.colocacion{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}